<!DOCTYPE html>
<html>
<head>
  <title>Fourohfour</title>
  <%= stylesheet_link_tag    "fourohfour/application", media: "all" %>
  <%= javascript_include_tag "fourohfour/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1> TEST TEST TEST </h1>

<%= yield %>

</body>
</html>
